################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Lazy.SlideCaptcha.Core/bin/Debug/netstandard2.1
/Lazy.SlideCaptcha.Core/obj
/Lazy.SlideCaptcha.Console/bin/Debug/net6.0
/Lazy.SlideCaptcha.Console/obj
/Lazy.SlideCaptcha.Demo/bin/Debug/net6.0
/Lazy.SlideCaptcha.Demo/obj
/packages
/Lazy.SlideCaptcha.Demo/bin/Release/net6.0
/Lazy.SlideCaptcha.Core/bin
